
.square{
  width:200px;
  height:200px;
}

 .row{
  display:flex;
  justify-content:center;

}
#center-mid{
  border: 20px solid #222222;
  font-size: 200px;
  text-align: center;
}
#top-mid,#bottom-mid{
  border-left:20px solid #222222;
  border-right:20px solid #222222;
  font-size: 200px;
  text-align: center;
}
#center-left, #center-right{
  border-top:20px solid #222222;
  border-bottom:20px solid #222222;
  font-size: 200px;
}
#bottom-left{
  font-size: 200px;
  text-align: center;
}
#top-right{
  font-size: 200px;
  text-align: center;
}
#top-left{
  font-size: 200px;
  text-align: center;
}
#bottom-right{
  font-size: 200px;
  text-align: center;
}
